<<<<<<< HEAD:css/style.css
.hero {
  padding-top: 15px;
  padding-bottom: 15px;
  color: #4c4c96;
  position: relative;
}

footer {
  background: black;
  color: white;
  padding: 40px 0;
}

.square {
  background-color: #4c4c96;
  height: 100px;
}

p {
  font-size: 1.2rem;
}

h1 {
  font-size: 8rem;
  line-height: 1.0;
}

.btn-colore {
  background-color: #4c4c96;
  color: white;
  border: none;
  transition: background 0.2s;
}

.btn-colore:hover,
.btn-colore:focus {
  background-color: #252568; /* colore più scuro per l'hover */
  color: white;
}

h1 {
  font-size: 3rem;
  font-family: 'DM Sans', sans-serif;
  font-style: bold;
}

.second-line{
  font-weight: bold;
  font-style: italic;
}

.description {
  font-size: 1.5rem;
  font-weight: 200;
  color: #4c4c96;
  font-family: 'DM Sans', sans-serif;
}

/* Responsive styles */
@media (min-width: 576px) {
  h1 {
    font-size: 4rem;
  }
}

@media (max-width: 576px) {
  h1 {
    font-size: 4rem;
    text-align: center;
  }
  .elenco {
    font-size: 1.25rem;
  }
}

@media (min-width: 768px) {
  h1 {
    font-size: 6rem;
  }
}

@media (min-width: 1200px) {
  h1 {
    font-size: 8rem;
  }
=======
.hero {
  padding-top: 15px;
  padding-bottom: 15px;
  color: #4c4c96;
  position: relative;
}

.sezione1 {
  padding-left: 50px;
}

.dropdown-item img{
  width: 20px;
  height: 20px;
  margin-right: 10px;
}

.config-box {
  background: white;
  color: black;
  padding: 1rem;
  border-radius: 10px;
  max-width: 250px;
}

.section-padding {
  padding: 60px 0;
}

footer {
  background: black;
  color: white;
  padding: 40px 0;
}

.square {
  background-color: #4c4c96;
  height: 100px;
}

p {
  font-size: 1.2rem;
}

h1 {
  font-size: 8rem;
  line-height: 1.1;
}

.btn-colore {
  background-color: #4c4c96;
  color: white;
  border: none;
  transition: background 0.2s;
}

.btn-colore:hover,
.btn-colore:focus {
  background-color: #23234d; /* colore più scuro per l'hover */
  color: white;
}

h1 {
  font-size: 3rem;
}


@media (min-width: 576px) {
  h1 {
    font-size: 4rem;

  }
}

@media (min-width: 768px) {
  h1 {
    font-size: 6rem;
  }
}

@media (min-width: 1200px) {
  h1 {
    font-size: 8rem;
  }
>>>>>>> 716d042323a94a226c6f3acd99b112bde839508e:Home Page - Header/css/style.css
}